* {
    font-family:  Arial, sans-serif, Arial, sans-serif;
    color: #EBEBEB;
    
  }
body{
  background-color:#3685B5;
}

.allimg{
  display:flex;
  height:400px;
  
}
  h2{
    color:#D0D38F;
  }
  a {
    text-decoration: none;
  }

  li{
    line-height: 22px;
  }